.artist-profile {
  border-bottom: 1px solid #515166;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
  img {
    border-radius: 50%;
  }
  .artist-infos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .follower {
      font-size: 18px;
    }
  }
}
