.track {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #515166;
  border-radius: 10px;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  h2 {
    color: white;
  }
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .player {
    color: red;
  }
}
