.artist {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #51516688;
  border-radius: 10px;
  gap: 10px;
  box-shadow: #00000059 0px 5px 15px;
  cursor: pointer;
  min-width: 200px;
  padding: 10px;

  @media screen and (max-width: 450px) {
    height: 90px;
    margin-top: 40px;
  }

  .profile-image {
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    @media screen and (max-width: 450px) {
      height: 80px;
      width: 80px;
      padding: 5px;
    }
  }
  .name {
    font-size: 18px;
    font-weight: bold;
  }
}
