.dashboard-page {
  background-color: #222326;
  // height: calc(100vh - 132px);
  padding: 20px;
  position: relative;
  .results {
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    @media screen and (max-width: 450px) {
      font-size: 20px;
    }
    span {
      font-size: 14px;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .search {
    position: absolute;
    right: 40px;
  }
  .artist-list {
    padding: 20px;
  }
}
