.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .logo-header {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      border-radius: 50%;
      height: 80px;
      @media screen and (max-width: 450px) {
        height: 50px;
      }
    }
    p {
      font-size: 26px;
      color: white;
      padding: 5px;
      @media screen and (max-width: 450px) {
        font-size: 20px;
      }
    }
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
      @media screen and (max-width: 450px) {
        padding: 10px;
        height: 40px;
      }
    }
    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      @media screen and (max-width: 450px) {
        font-size: 14px;
        flex-direction: row;
      }
    }
    .logout {
      margin: 5px;
      color: white;
      text-decoration: underline;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      @media screen and (max-width: 450px) {
        font-size: 12px;
        flex-direction: row;
      }
    }
  }
  .sing-in {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 26px;
    color: white;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    @media screen and (max-width: 450px) {
      font-size: 20px;
    }
    i {
      color: #3fa7dc;
    }
  }
}
